.no-load-loss-no-load-current .main-input{
    width: 85%;
}

.no-load-loss-no-load-current .main-input[readonly] {
    background-color: #f0f0f0; /* Example style */
    color: #888;
    border: 1px solid #ccc;
}


.no-load-loss-no-load-current-table {
    width: fit-content;
    margin-inline: auto;
    /* border: 1px solid #fff; */
}


.no-load-loss-no-load-current-table tbody td {
}

.no-load-loss-no-load-current-table tbody .consider-d-r{
    padding: 0;
}

.no-load-loss-no-load-current-table tbody .consider-d-r.power{
    display: inline;
}

.no-load-loss-no-load-current-table tbody .consider-d-r tr td:first-child {
    background-color: #f4f4f4;
}

.no-load-loss-no-load-current-table tbody tr{
    background-color: #ffffff !important;
}