.main-contain {
  display: flex;
}

.main-contain .side-bar {

}

.main-contain .main-div {
  margin-inline: auto;
  height: 95vh;
  overflow-y: scroll;
}

.main-contain .main-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}